<div class="container">
    <div class="row" style="height:40vh;background: url(../../../assets/img/portada.webp);background-size: cover;">
        <div class="col-12">
        </div>
    </div>
    <div class="row mt-4" style="height:40vh">
        <div class="col-3">
            <div class="card" style="height:90%">
                <img class="card-img-top" src="../../../assets/img/python.webp" style="height: 60%;" alt="Title">
                <div class="card-body">
                    <h6 class="card-title">Python 3 - Nivel Intermedio</h6>
                    <p class="card-text">10 semanas</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="height:90%">
                <img class="card-img-top" src="../../../assets/img/php.webp" style="height: 60%;" alt="Title">
                <div class="card-body">
                    <h6 class="card-title">PHP y MySQL Intermedio</h6>
                    <p class="card-text">9 semanas</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="height:90%">
                <img class="card-img-top" src="../../../assets/img/data.webp" style="height: 60%;" alt="Title">
                <div class="card-body">
                    <h6 class="card-title">Data Engineering</h6>
                    <p class="card-text">8 semanas</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="height:90%">
                <img class="card-img-top" src="../../../assets/img/html.webp" style="height: 60%;" alt="Title">
                <div class="card-body">
                    <h6 class="card-title">Desarrollo Web</h6>
                    <p class="card-text">11 semanas</p>
                </div>
            </div>
        </div>
    </div>
</div>