<div class="row justify-content-center mt-5">
  <div class="submit-form col-7">
    <div  *ngIf="!submitted"  class="card">
      <div class="card-header">
        Formulario
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label for="nombre" class="form-label lead">Nombre del curso:</label>
            <input
            type="text"
            id="nombre"
            required
            [(ngModel)]="curso.nombre"
            name="title"
            class="form-control"
            >
          </div>
          <div class="col-12 mt-2">
            <label for="fecha" class="form-label lead">Fecha de inicio:</label>
            <input type="date" class="form-control" [(ngModel)]="curso.fechaInicio" id="fecha">
          </div>
          <div class="mt-2 col-12">
            <label for="docentes" class="form-label lead p-2">Docente: </label>
            <select id="docentes" class="form-select" [(ngModel)]="curso.idDocente">
              <option selected>Elegir un docente</option>
              <option value="1">Sergio Viera</option>
              <option value="2">Santiago Raggazzo</option>
              <option value="3">Marcelo Badino</option>
            </select>
          </div>
          <div class="mt-2 col-12">
            <label for="temas" class="form-label lead p-2">Temas: </label>
            <select id="temas" class="form-select" [(ngModel)]="curso.idDocente">
              <option selected>Elegir un tema</option>
              <option *ngFor="let tema of temas" [value]="tema.id">{{tema.nombre}}</option>
            </select>
          </div>
          <div class="btn-group col-3 ms-1 mt-3">
            <button (click)="saveCurso()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">confirmar</button>
            <button class="btn btn-danger" type="reset">Borrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Cursos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="newCurso()"></button>
          </div>
          <div class="modal-body">
            <div *ngIf="submitted;else default">
              <p class="lead">CURSO AGREGADO</p>
            </div>
            <ng-template #default>
              <p class="text-danger lead">Faltan datos</p>
            </ng-template>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="newCurso()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>